<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM 
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
   <session-factory>
	
   <!--  JDBC database connection settings --> 
   <property name = "connection.driver_class"> com.mysql.jbdc.Driver</property>
   <property name = "connection.password">password</property>
   <property name = "connection.url">jdbc:mysql://localhost:3360/hibernate_tut?useSSL=false</property>
   <property name = "connection.username">student</property>
   
   <!--  JDBC Connection Pool Settings -->
   <property name = "connection.pool_size">5</property>
   
   <!-- Choose the Hibernate dialect -->
   <property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>   
   
   <!-- Echo out the SQL to the stdout / console -->
	<property name = "show_sql">true</property>
	<property name = "current_session_context_class">thread</property>
    
   </session-factory>
   
</hibernate-configuration>